html {
    background-color: black;
    height: 100vh;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

a {
    color: wheat;
    text-decoration: none;
}
a:hover {
    font-style: italic;
}

body {
    margin:8px;
}

header {
    display: flex;
    justify-content: space-between;
    }

h1{
    display: inline;
    }

footer{
    position: fixed;
    bottom: 0;
    width: 99%;
    display: flex;
    justify-content: space-between;

    }

.About{
    margin: auto;
    width: 60%;
}

p, h1{
    font-size: 2rem;
    color: wheat;
}

@media screen and (max-width: 768px) {
    .About{
        width: 98%;
    }

    body{
        margin:8px;
    }
 p,h1{
    font-size: 1.2rem;
 }
    footer {
       position: fixed;
    bottom: 0;
    width: 99% !important;
    display: flex;
    justify-content: space-between;
    }
}